asgiref==3.2.3
beautifulsoup4==4.8.2
bootstrap4==0.1.0
dataclasses==0.7
Django==3.0.12
django-admin-honeypot==1.1.0
django-bootstrap4==1.1.1
djangorestframework==3.11.0
djongo==1.2.29
pymongo==3.7.1
pytz==2018.5
soupsieve==1.9.5
sqlparse==0.3.0
