<tr>
                        <td><label for="isStaffed">Is Staffed?</label></td>
                        <td><input id="isStaffed" name="isStaffed" 
                                   type="checkbox" checked="checked" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="currentProject">Current Project</label></td>
                        <td><input list="currentProject" name="currentProject" 
                                    placeholder="CMHL" class="form-control" autocomplete="off"></td>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="bookedTill">Booked Till</label></td>
                        <td><input id="bookedTill" name="bookedTill" 
                                   type="date" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="skillSets">Skills</label></td>
                        <td><input list="skillSets" name="skillSets" 
                                    placeholder="Hybris, Java, Python" class="form-control" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td><label for="interests">Interests</label></td>
                        <td><input list="interests" name="interests" 
                                    placeholder="ABAP, S/4Hana, Leonardo" class="form-control" autocomplete="off"></td>
                    </tr>
                    